extends ../layout 
 
block content 
  h2.mb-3 Editar paquete 
  form(method="post", action=`/shipments/${shipment.id}`, class="needs-validation") 
    .mb-3
      label.form-label Cliente: 
      input.form-control(type="text", name="client", value=shipment.client, required) 
    .mb-3
      label.form-label Origen: 
      input.form-control(type="text", name="origin", value=shipment.origin, required) 
    .mb-3
      label.form-label Destino: 
      input.form-control(type="text", name="destination", value=shipment.destination, required) 
    .mb-3
      label.form-label Estado: 
      select.form-select(name="status") 
        option(value="pendiente", selected=shipment.status==="pendiente") Pendiente 
        option(value="en tránsito", selected=shipment.status==="en tránsito") En tránsito 
        option(value="entregado", selected=shipment.status==="entregado") Entregado 
    button.btn.btn-primary.mt-2(type="submit") Actualizar
    a.btn.btn-secondary.mt-2.ms-2(href="/") Cancelar
