extends ../layout 
 
block content 
  a.btn.btn-add.mb-3(href="/shipments/new")  Nuevo envio
  if shipments.length 
    table.table.table-bordered.table-striped
      thead.table-light
        tr 
          th Cliente 
          th Origen 
          th Destino 
          th Estado 
          th Acciones 
      tbody
        each s in shipments 
          tr 
            td #{s.client} 
            td #{s.origin} 
            td #{s.destination} 
            td 
              if s.status === 'pendiente'
                span.badge.bg-secondary #{s.status}
              else if s.status === 'en tránsito'
                span.badge.bg-info.text-dark #{s.status}
              else if s.status === 'entregado'
                span.badge.bg-success #{s.status}
              else
                span.badge.bg-light.text-dark #{s.status}
            td 
              a.btn.btn-edit(href=`/shipments/${s.id}/edit`) Editar
              form(method="post", action=`/shipments/${s.id}/delete`, style="display:inline")
                button.btn.btn-delete(type="submit") Eliminar
  else 
    p.text-muted No hay envios cargados. 
