extends ../layout

block content
  h2.mb-4 Editar Producto

  if error
    .alert.alert-danger.text-center #{error}

  form(method="post", action=`/products/${product._id}`)
    .mb-3
      label.form-label Nombre
      input.form-control(type="text", name="name", required, value=product.name)

    .mb-3
      label.form-label Descripción
      textarea.form-control(name="description")= product.description

    .mb-3
      label.form-label Stock
      input.form-control(type="number", min="0", name="stock", required, value=product.stock)

    .mb-3
      label.form-label Precio
      input.form-control(type="number", step="0.01", min="0", name="price", required, value=product.price)

    button.btn.btn-success(type="submit") Guardar
    a.btn.btn-secondary.ms-2(href="/products") Cancelar
